:root{
    --accent-color: hsl(277, 64%, 61%);
    --desktop-bottom-padding: 4.4em;
    --desktop-left-padding: 4.8em;
    --desktop-top-padding: 5.2em;
    --main-bg-color: hsl(233, 47%, 7%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --mobile-bottom-padding: 2.6em;
    --mobile-left-right-padding: 2,33em;
    --mobile-top-padding: 1.76em;
    --neutral: hsl(0, 0%, 100%);
    --secondary-bg-color: hsl(244, 38%, 16%);
    --secondary-heading-color: hsla(0, 0%, 100%, 0.6);
}

/* Reset rules */
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

input{
    font: inherit;
}

/* Body rules */
body{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0,9375rem;
}

/* headings rules */
.card-heading{
    font-size: 1,5625rem;
}

.card-stats__stat__heading{
    font-size: 1,4375rem;
}